include ../breadcrumbs/breadcrumbs.pug
 //- li.breadcrumbs__item
            //-     span.breadcrumbs__text Фигурная абстракция
include describe-figures.pug
include reviews-figured.pug
include ../recently-viewed/recently-viewed.pug

