-
    var bookFiguredData = {
        title: 'Фигурная абстракция',
        author: 'Чендлер Смит',
        information: {
                code: '123187432',
                publishing: 'Арт-презент',
                series: 'Искусство',
                year: '2021',
                translator: 'Панов А.',
                pages: '416',
                cover: 'Твердая',
                weight: '370',
                ageLimit: '12+',
            },
        img: `${pathContentImg}figured-abstraction.jpg`,
        width: '485',
        height: '550',

        star: '3.8',
        grade: '243',
    }

-
    var bookAnnotation = {
        heading: 'Аннотация',
        text: '«‎Фигурная абстракция» — это исследование визуальной эстетики и творческого процесса захватывающего мира фигурной абстракции. Автор, опытный дизайнер и художник, рассматривает использование абстрактных форм и линий в различных видах искусства и дизайна. Книга освещает важность формы и линии в дизайне и искусстве, а также рассматривает влияние фигурной абстракции на современный мир. Она содержит множество примеров работ, которые демонстрируют, как абстрактные формы могут быть использованы для создания мощных визуальных образов и коммуникации идей.'
    }

