-
    var bookResently = [
        {
            author: 'Кеган О.',
            name: 'Элизабет',
            description: 'Реальная история сильной женщины покорившей весь мир своей харизмой',
            img: `${pathContentImg}book-normal-peoples.jpg`,
            width: '275',
            height: '320',
            star: '4.7',
            pages: '288'
        },
        {
            author: 'Рид Ч.',
            name: 'Апельсиновый закат',
            description: 'История о небольшом японском городке, затерянном в лучах яркого солнца',
            img: `${pathContentImg}book-kingdoms.jpg`,
            width: '275',
            height: '320',
            star: '4.8',
            pages: '576'
        },
        {
            author: 'Боуи',
            name: 'Чёрный воробей',
            description: 'Загадочный детектив с продуманным сюжетом и неожиданным финалом',
            img: `${pathContentImg}books-anxious-people.jpg`,
            width: '275',
            height: '320',
            star: '5.0',
            pages: '416'
        },
        {
            author: 'Ферт',
            name: 'Белый воротник',
            description: 'Автор собрал в книге все свои знания о мужском стиле. Как всегда выглядеть «‎с иголочки»',
            img: `${pathContentImg}white-collar.jpg`,
            width: '275',
            height: '320',
            star: '3.5',
            pages: '208'
        },

    ]
