fieldset.catalog-filter__fieldset
            p.catalog-filter__legend Наличие
                .catalog-filter__box.catalog-filter__box--radio
                    input#availability.catalog-filter__radio(type="radio" name="status" value="availability")
                    label.catalog-filter__label(for="availability") В магазине
                .catalog-filter__box.catalog-filter__box--radio
                    input#in-the-internet-shop.catalog-filter__radio(type="radio" name="status" value="in-the-internet-shop")
                    label.catalog-filter__label(for="in-the-internet-shop") В интернет-магазине
                .catalog-filter__box.catalog-filter__box--radio
                    input#under-the-order.catalog-filter__radio(type="radio" name="status" value="under-the-order")
                    label.catalog-filter__label(for="under-the-order") Под заказ
