mixin checkbox(title, type, id, name, checked)
    .catalog-filter__box
            input.catalog-filter__checkbox(type= type, id= id, name= name, value= value, checked= checked)
            label.catalog-filter__label(for= id)= title


fieldset.catalog-filter__fieldset
            p.catalog-filter__legend Категория
                +checkbox("Художественная литература", "checkbox", "fiction", "fiction")
                +checkbox("Книги для детей", "checkbox", "for-children", "for-children")
                +checkbox("Образование", "checkbox", "education", "education", true)
                +checkbox("Наука и техника", "checkbox", "science-and-technology", "science-and-technology")
                +checkbox("Общество", "checkbox", "society", "society")
                +checkbox("Деловая литература", "checkbox", "business-literature", "business-literature")
                +checkbox("Здоровье", "checkbox", "health", "health")
                +checkbox("Увлечения", "checkbox", "hobby", "hobby", true)
                +checkbox("Психология", "checkbox", "psychology", "psychology")
                +checkbox("Эзотерика", "checkbox", "esoterics", "esoterics")
                +checkbox("Искусство", "checkbox", "art", "art", true)

