mixin radio-box(title, type, id, name, value, checked)
    .catalog-filter__box.catalog-filter__box--radio
        input.catalog-filter__radio(type= type, name= name, id= id, value= value, checked=checked)
        label.catalog-filter__label(for= id)= title

fieldset.catalog-filter__fieldset
    p.catalog-filter__legend Статус
        +radio-box("Хиты продаж", "radio", "bestsellers", "status", "bestsellers")
        +radio-box("Новинки", "radio", "news-books", "status", "news-books", true)
        +radio-box("Предзаказ", "radio", "preorder", "status", "preorder")

