fieldset.catalog-filter__fieldset
            p.catalog-filter__legend Статус
                .catalog-filter__box.catalog-filter__box--radio
                    input#bestsellers.catalog-filter__radio(type="radio" name="status" value="bestsellers")
                    label.catalog-filter__label(for="bestsellers") Хиты продаж
                .catalog-filter__box.catalog-filter__box--radio
                    input#news-books.catalog-filter__radio(type="radio" name="status" value="news-books")
                    label.catalog-filter__label(for="news-books") Новинки
                .catalog-filter__box.catalog-filter__box--radio
                    input#preorder.catalog-filter__radio(type="radio" name="status" value="preorder")
                    label.catalog-filter__label(for="preorder") Предзаказ
