doctype html
html(lang='ru-RU')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" type="text/css" href="./static/css/styles.css")
        title Сайт с книгами "По полочкам" MV
    body
        .wrapper
            include includes/header-catalog.pug

            main.catalog-page
                section.breadcrumbs
                    .container
                        ul.breadcrumbs__list
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="index.html") Главная страница
                            li.breadcrumbs__item
                                span.breadcrumbs__text Каталог книг
                section.catalog
                    .container
                        h1.catalog__title Каталог книг
                            .catalog__wrapper
                                .catalog-filter
                                    form.catalog-filter__form
                                        fieldset.catalog-filter__fieldset
                                            p.catalog-filter__legend Категория
                                            .catalog-filter__box
                                                input.catalog-filter__checkbox(type="checkbox" id="fiction" name="fiction")
                                                label.catalog-filter__label(for="fiction") Художественная литература
                                            .catalog-filter__box
                                                input.catalog-filter__checkbox(type="checkbox" id="for-children" name="for-children")
                                                label.catalog-filter__label(for="for-children") Книги для детей
                                            .catalog-filter__box
                                                input.catalog-filter__checkbox(type="checkbox" id="education" name="education")
                                                label.catalog-filter__label(for="education") Образование
                                            .catalog-filter__box
                                                input.catalog-filter__checkbox(type="checkbox" id="science-and-technology" name="science-and-technology")
                                                label.catalog-filter__label(for="science-and-technology") Наука и техника
                                            .catalog-filter__box
                                                input.catalog-filter__checkbox(type="checkbox" id="society" name="society")
                                                label.catalog-filter__label(for="society") Общество
                                            .catalog-filter__box
                                                input.catalog-filter__checkbox(type="checkbox" id="business-literature" name="business-literature")
                                                label.catalog-filter__label(for="business-literature") Деловая литература
                                            .catalog-filter__box
                                                input.catalog-filter__checkbox(type="checkbox" id="health" name="health")
                                                label.catalog-filter__label(for="health") Здоровье
                                            .catalog-filter__box
                                                input.catalog-filter__checkbox(type="checkbox" id="hobby" name="hobby")
                                                label.catalog-filter__label(for="hobby") Увлечения
                                            .catalog-filter__box
                                                input.catalog-filter__checkbox(type="checkbox" id="psychology" name="psychology")
                                                label.catalog-filter__label(for="psychology") Психология
                                            .catalog-filter__box
                                                input.catalog-filter__checkbox(type="checkbox" id="esoterics" name="esoterics")
                                                label.catalog-filter__label(for="esoterics") Эзотерика
                                            .catalog-filter__box
                                                input.catalog-filter__checkbox(type="checkbox" id="philosophy" name="philosophy")
                                                label.catalog-filter__label(for="philosophy") Философия и религия
                                            .catalog-filter__box
                                                input.catalog-filter__checkbox(type="checkbox" id="art" name="art")
                                                label.catalog-filter__label(for="art") Искусство
                                        fieldset.catalog-filter__fieldset
                                            p.catalog-filter__legend Статус
                                                .catalog-filter__box.catalog-filter__box--radio
                                                    input.catalog-filter__radio(type="radio" id="bestsellers" name="status" value="bestsellers")
                                                    label.catalog-filter__label(for="bestsellers") Хиты продаж
                                                .catalog-filter__box.catalog-filter__box--radio
                                                    input.catalog-filter__radio(type="radio" id="news-books" name="status" value="news-books")
                                                    label.catalog-filter__label(for="news-books") Новинки
                                                .catalog-filter__box.catalog-filter__box--radio
                                                    input.catalog-filter__radio(type="radio" id="preorder" name="status" value="preorder")
                                                    label.catalog-filter__label(for="preorder") Предзаказ
                                        fieldset.catalog-filter__fieldset
                                            p.catalog-filter__legend Наличие
                                                .catalog-filter__box.catalog-filter__box--radio
                                                    input.catalog-filter__radio(type="radio" id="availability" name="status" value="availability")
                                                    label.catalog-filter__label(for="availability") В магазине
                                                .catalog-filter__box.catalog-filter__box--radio
                                                    input.catalog-filter__radio(type="radio" id="in-the-internet-shop" name="status" value="in-the-internet-shop")
                                                    label.catalog-filter__label(for="in-the-internet-shop") В интернет-магазине
                                                .catalog-filter__box.catalog-filter__box--radio
                                                    input.catalog-filter__radio(type="radio" id="under-the-order" name="status" value="under-the-order")
                                                    label.catalog-filter__label(for="under-the-order") Под заказ
                                .catalog-books
                                    .catalog-books__sort
                                        label.catalog-books__sort-title(for="sort") Сортировать
                                        select.catalog-books__select(size="1" id="sort")
                                            option.catalog-books__options по популярности

















