extends layout/layout

block variables
    - const title = "Главная страница"
    - const pageClass = "index-page"
    - const pathContentImg = 'static/images/content/'
    - const pathCommonImg = 'static/images/common/'
    - const userLogin = false

block content

    .content
        main(class= pageClass)
            h1.visually-hidden Магазин по продаже книг "По полочкам"
            include modules/hero/hero.pug
            include modules/new-books/new-books.pug
            include modules/best-books/best-books.pug
            include modules/reviews/reviews.pug
            include modules/about/about.pug












































