-
    var critique = [
        {
            name: 'Алексей Иванов',
            picture: `${pathContentImg}review-4.jpg`,
            count: '23',
            review: 'Хорошая книга. Полна приключений, романтики, неплохих действующих героев. Вообщем всего, что нужно, чтобы хорошо провести время за чтением.'
        },
        {
            name: 'Анна Кириллова',
            picture: `${pathContentImg}review-5.jpg`,
            count: '50',
            review: 'Не ожидала многого от этой книги, купилась больше на красивую обложку, но была рада ошибиться. Обе книги прочитала дня за 3 или 4, уже не помню, так вчиталась!',
        },
        {
            name: 'Мария Нагаева',
            picture: `${pathContentImg}review-6.jpg`,
            count: '8',
            review: 'Очень нетипичный подход, учитывая, что фейри и железо слабо совместимы, но логика автора, позволившая формирование нового Двора, меня восхитила.'
        }
    ]
