-
    var reviews = [
        {
            name: 'Кирилл Агапьев',
            review : 'Огромный ассортимент разных книг, которых нет в магазинах нашего города. Цены зачастую гораздо ниже магазинских, так плюс к этому ещё и постоянные большие скидки!',
            picture: `${pathContentImg}review-1.jpg`,
            width: '80',
            height: '80',
            count: '35',
            gender: 'male'
        },
        {
            name: 'Елизавета Марьина',
            review : 'Удобная навигация, большой выбор, книги в подарок при определенной сумме заказа. Заказ собирают без ошибок, привозят без задержек',
            picture: `${pathContentImg}review-2.jpg`,
            width: '80',
            height: '80',
            count: '76',
            gender: 'female'
        },
        {
            name: 'Полина Аленичева',
            review : 'Удобный каталог, полезные отзывы на книги, так же есть видеообзоры на книги. Иногда можно приобрести дорогое издание за «символическую» цену.',
            picture: `${pathContentImg}review-3.jpg`,
            width: '80',
            height: '80',
            count: '35',
            gender: 'male'
        },
    ]
