mixin sort-books(title)
    option.catalog-books__options= title

.catalog-books__sort
        label.catalog-books__sort-title(for="sort") Сортировать
        select.catalog-books__select(size="1" id="sort")
            +sort-books("по популярности")
            +sort-books("по названию")
            +sort-books("по новизне")
