-
    var books = [
        {
            author: 'Боуи А.',
            name: 'Чёрный воробей',
            description: 'Загадочный детектив с продуманным сюжетом и неожиданным финалом',
            img: `${pathContentImg}books-anxious-people.jpg`,
            link: '#',
            width: '275',
            height: '320',
            star: '5.0',
            pages: '416'
        },
        {
            author: 'Агава Ю.',
            name: 'Путь к вершине',
            description: 'Путешествие длиною в жизнь. Как найти верный путь, если кажется, что все безнадёжно',
            img: `${pathContentImg}book-sapiens.jpg`,
            link: '#',
            width: '275',
            height: '320',
            star: '4.9',
            pages: '520'
        },
        {
            author: 'Холтер К.',
            name: 'Золотая арка',
            description: 'Мировой психологический бестселлер. Как найти себя в обществе',
            img: `${pathContentImg}book-institute.jpg`,
            link: '#',
            width: '275',
            height: '320',
            star: '4.8',
            pages: '608'
        },
        {
            author: 'Кеган О.',
            name: 'Элизабет',
            description: 'Реальная история сильной женщины покорившей весь мир своей харизмой',
            img: `${pathContentImg}book-feelings-of-shame.jpg`,
            link: '#',
            width: '275',
            height: '320',
            star: '4.7',
            pages: '288'
        },
    ];









