mixin breadcrumbs(text, link)
    li.breadcrumbs__item
        a.breadcrumbs__link(href= link)= text
section.breadcrumbs
    .container
        ul.breadcrumbs__list
            if pageClass === 'book-page'
                +breadcrumbs("Главная", "index.html")
                +breadcrumbs('Каталог книг', 'catalog.html')
                +breadcrumbs('Фигурная абстракция')

            else
                +breadcrumbs("Главная", "index.html")
                +breadcrumbs('Каталог книг', 'catalog.html')
